.footer-container{
    padding-bottom: 1rem;
    padding-top: .1rem;
}
.footer-main ul{
    display: flex;
    list-style:none;
    
}
.footer-main li{
    white-space: nowrap;
   
}
.footer-main a{
    padding-left: 1rem;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 600;
    

}
.footer-main a:hover{
    color: rgb(121, 68, 173);
}

.footer-tag{
    margin-left: 34vw;
    margin-top: -.3vw;
    white-space: nowrap;
   
}